body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    display: inline-block;
}

.background {
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
}

.pokedex {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
}

.pokedex-img {
    width: 100%;
}

.pokemon-list {
    position: absolute;
    top: 50px;
    left: 20px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    line-height: 20px;
    text-shadow: 2px 2px 4px black;
}
