/* Elimina los márgenes y rellenos por defecto */
body {
    margin: 0;
    padding: 0;
    background: url('IMG/kanto-map.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Pixelify Sans', sans-serif; /* Aplicar la fuente Pixelify Sans a todo el cuerpo */
    font-size: 40px; /* Tamaño de fuente base más grande */
}

/* Título centrado con fondo negro transparente */
.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    padding: 10px 20px;
    border-radius: 10px;
}

.title h1 {
    margin: 0;
    color: white;
    font-family: 'Pixelify Sans', sans-serif; /* Fuente estilo pixel */
    font-size: 50px; /* Tamaño de fuente más grande */
    text-align: center;
}

/* Estilo para la fuente Pixelify Sans */
.pixelify-sans {
    font-family: 'Pixelify Sans', serif;
    font-optical-sizing: auto;
    font-weight: normal; /* Puedes cambiar el peso si lo necesitas */
    font-style: normal;
}

/* Contenedor de la Pokédex */
.pokedex {
    width: 250px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 80px; /* Ajusta la posición para que no se solape */
    margin-left: 20px; /* Alineación con la izquierda */
}

/* Estilos de la imagen de la Pokédex */
.pokedex-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Lista de Pokémon debajo de la Pokédex */
.pokemon-list {
    list-style: none;
    padding: 0;
    color: white;
    font-size: 35px; /* Tamaño de fuente más grande */
    text-transform: capitalize;
    margin-top: 20px; /* Espacio entre la Pokédex y la lista */
    margin-left: 20px; /* Alinear la lista a la izquierda con la Pokédex */
}

.pokemon-list li {
    margin-bottom: 10px;
}

.pokemon-list .boton {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 40px; /* Tamaño de fuente más grande */
}


