body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f5ebdc;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #faebd7;
    padding: 20px;
    border: 2px solid black;
    max-width: 400px; /* Reducir el ancho máximo */
    height: 80vh; /* Aumentar la altura */
}
h1 {
    font-size: 24px;
}
img {
    width: 200px;
}
.tipo {
    background: rgb(166, 0, 255);
    padding: 5px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin: 2px;
}
.tipoV {
    background: rgb(255, 6, 189); /* Fondo verde para diferenciar */
    padding: 5px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin: 2px;
}
.boton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.evoluciones {
    margin-top: 20px;
}
.evolucion {
    display: inline-block;
    margin: 10px;
}
.evolucion img {
    width: 100px;
}
.evolucion p {
    margin: 5px 0;
}
